/*html{

  position: relative;
min-height: 100%;
}

*/
body{

  color:black;
  font-family: 'Dosis',sans-serif;


/*margin-bottom: 80px;
  padding-top: 1px;
  background: #23282d;
  */
}
.container-fix{

    padding-left:0;
    padding-right:0;
    width:100%;
}



.nav-bar-fix{

  margin-bottom:0;
  border: none;
    min-height: 50px;
    background: whitesmoke;
    -o-transition: .3s background ease;
    transition: .3s background ease;
    padding-left: 10px;
    padding-right:10px;
    opacity: 0.7;
    z-index: 1;
position: absolute;
width: 100%;

}

.brand-fix{

  color:white
}

@media screen and (min-width: 760px) {
  .social-name {
    display:none;
    padding-left:0;
  }
}

@media screen and (min-width: 760px) {
  .social-name-soundcloud {
    padding-left:0;
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .alpha-info {
    padding-top: 110px;

        line-height: 1.5;
        text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .alpha-info {
    padding-top: 75px;
padding-bottom: 75px;
        text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .alpha-info p {
  font-size: 16px;
        text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .alpha-info p {
  font-size: 12px;
        text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .alpha-info p {
  font-size: 18px;
        text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .alpha-info p {
  font-size: 22px;
        text-align: center;
  }
}
/*=============Header Area===============*/

del {
    text-decoration: none;
    position: relative;
      font-family: serif;
}
del:after {
  content: ' ';
  font-size: inherit;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 48%;
  bottom: 34%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;


}

.alpha-letter{

    font-size:30px;

}

.alpha-letter:hover{


}
.navbar-default .navbar-nav>li>a {
  color:black;
  text-transform: uppercase;
}
.navbar-default .navbar-brand{
  color:black;
    letter-spacing: 4px;
    font-size:24px;
    font-weight:500;
    font-family: serif;
}
.navbar-default .navbar-brand:hover{
  color: #d1bf76	;
  transition-duration: 1s;
}
.banner-top{



}
.banner-top img{
  min-height: 350px;
  width: 100%;
  max-height: 733px;

}
.full-screen-header{
  width:100%;
}

.banner-text{
  top:250px;


}
.header-text{

  color:white;
  font-weight: bold;
  text-transform: uppercase;
  font-size:96px;
  letter-spacing: 18px;
    text-shadow: 1px 1px black;
}

.header-link{

    border: 2px solid white;
    color: white;
    top:200px;
    font-size:16px;
    padding:13px;
    font-weight:normal;
    border-radius: 2px;
}



.navbar-right a:hover{

padding-top:13px;

}

.social-name{

      padding-left:35px;
}

.social-name-soundcloud{
  padding-left: 27px;
}
/*=========Content Area==========*/
.video-grid-padding{
  padding-top: 60px;
  padding-bottom: 60px;
}

.playbtnCss{

    background: url("http://cocossoftware.com/transparency/wp-content/themes/transparency/assets/images/Play-icon.png") no-repeat center center;
    display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 1;
}

.thumb_img__{



}
.second-section{
  background:#0D0D0D;
}

.alpha-img{



}
.alpha-img img{

  min-height: 400px;
width: 100%;
max-height: 400px;
}

.alpha-text{
  position: absolute;
  padding: 0;
  margin: 0;

}

.alpha-info p{

  width: 80%;
    color: whitesmoke;
    margin: 0 auto;
    height: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 100;

}
.alpha-info {


  background: rgba(12, 12, 12, 0.7);
  max-height: 400px;
  min-height: 400px;
}


.third-section{
  background:#F5F5F5;
}

.soundcloud-padding-fix{

    padding-top:60px;
    padding-bottom:60px;

}
.row-fix{

  margin-left: 0;
  margin-right: 0;
}
.padding-fix{
  padding-right:2px;
  padding-left:2px;
}
/*=============Footer Area=============*/

.footer-text{
  background: #F5F5F5;

}
